# Python
__pycache__/
*.py[cod]
.venv/

# uv / Build
dist/
*.egg-info/

# MEI-Data
data/edition/mei/*.mei

# Inputs
data/pages/

# Outputs (generiert)
data/tei/
mini-edition/

node_modules/

#xslt
.vscode/